<!-- CARD-->
<div class="my-container">

    <div class="row g-5">


  <% @dinos.each do |dino| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <%= dino.name %>
          </div>
          <%# <img src="https://i.etsystatic.com/18854467/r/il/98d65a/3574197919/il_fullxfull.3574197919_olfx.jpg" class="dino-img" alt="..."> %>
          <% if dino.photo.attached? %>
            <%= cl_image_tag dino.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <p>Pas d'image.</p>
          <% end %>
          <div class="card-body">
            <div class="bar">
              <h5><%= dino.specie %></h5>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-owner avatar-bordered" />
            </div>
            <p class="fst-italic"> <%= dino.place %></p>
            <div class="description">
              <p><%= dino.characteristic %></p>
              <h2 class="card-pricing"><%= dino.price %></h2>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
