<div class="my-container">

   <div class="row">
   
     <div class="col-sm">
        <div class="card " style="width: 500px">
          <div class="card-header">
            <%=@dino.name  %>
          </div>
            <% if dino.photo.attached? %>
              <%= cl_image_tag dino.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <p>Pas d'image.</p>
            <% end %>
          <div class="card-body">
            <div class="bar">
              <h5><%=@dino.specie  %></h5>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-owner avatar-bordered" />
            </div>
            <p class="fst-italic"> <%= @dino.place %></p>
          </div>
          <div class="text-center">
            A savoir sur <%=@dino.name %> :
            <p><%= @dino.characteristic%></p>
            Description:
            <p><%= @dino.description%></p>
          </div>
        </div>
       </div>
     </div>


      <div class="col-sm">
        <div class="card" style="width: 65%">
          <div class="card-header">
            <p><%=@dino.price%>€/jour</p>
          </div>
          <div class="card-buttons text-center">
            <div class="begin-end"></div>
            <div class="btn btn-dark btn-sm btn-block">Réserver</div>
          </div>
          <div class="card-details d-flex justify-content-between">
            <p><%=@dino.price%>x 4</p> <p><%= @dino.price*4%>€</p>
          </div>
        </div>
      </div>
    </div>
</div>
  <%# <% end %>
