<div class="">

  <div class="d-flex mx-5 p-5">

    <div class="opacite w-75 mr-5 rounded">
      <div class="bg-white rounded text-danger d-flex h-100 overflow-hidden">
        <% if @dino.photo.attached? %>
          <div class="w-50 bg-center bg-cover" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path @dino.photo.key, crop: :fill %>')">
          </div>
        <% else %>
          <p>Pas d'image.</p>
        <% end %>

        <div class="w-50 p-5">
          <h5><strong> Nom </h5>
          <p><%= @dino.name %></strong></p>
          <br>
          <h5> Espèce </h5>
          <p><%= @dino.specie %></p>
          <br>
          <h5> Localisation </h5>
          <p><%= @dino.place %></p>
          <br>
          <h5> Cacactéristiques </h5>
          <p><%= @dino.characteristic %></p>
          <br>
          <h5><strong>Description </strong></h5>
          <p><%= @dino.description %></p>
          <br>
          <h5><strong> Propriétaire </strong></h5>
          <p><%= "#{@dino.user.first_name} #{@dino.user.last_name}" %></p>
        </div>
      </div>
    </div>


    <div class="opacite w-25 mx-5 bg-white p-5 rounded">
      <%= simple_form_for [ @dino, @booking ] do |f| %>
        <div class="form-resa">
            <h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;"> Réserver <% @dino.name %></h1>
            <%= f.input :checkin_on, as: :date, html5: true %>
            <%= f.input :checkout_on, as: :date, html5: true %>
        </div>

        <div class="details-total">
          <div class="row">
            <div class="col-75">
              <div class="col-25">
                <h4><i class="fa fa-shopping-cart"></i> <span> Détails</span></h4>
                <p><a href="#">Dino</a> <span class="price-reservation"> --------------- <%= @dino.price %> €/day </span></p>
                <br>
              </div>
            </div>
            <%= f.submit "Réserver", class: "btn-resa btn btn-green" %>
          </div>
      <% end %>
    </div>

  </div>
</div>

<!-- FORM EXEMPLE

Source: https://prograide.com/pregunta/21689/bloquer-les-commentaires-en-htmlerb-modles-dans-les-rails
     <form class="container-booking " style="margin: 150px; padding: 30px 30px 60px 30px; background-color: white; font-family: Helvetica; font-weight: 600; color: #484848;">
        <h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;"> Réserver <% @dino.name %></h1>
        <h2 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;"> <% @dino.name %></h1>
        <div class="input-group-prepend" style=" font-size: small;">
          <label>Début de la réservation</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
          <label>Fin de la réservation</label><br>
        </div>
        <div class="input-group" style=" font-size: small;">
          <input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkin" />
          <input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkout" />
        </div>
        <%# TOTAL PRICE %>
        <div class="row">
          <div class="col-75">
            <form action="/action_page.php">
          <div class="col-25">
            <i class="fa fa-shopping-cart"></i>
            <h4>Réservation</h4>
            <p><a href="#">Dino</a> <span class="price-reservation"> ------------------------------ $15</span></p>
            <p><a href="#">Taxes</a> <span class="price-reservation"> ------------------------------ $5</span></p>
            <p>Total </p class="price" style="color:black"><b>$20/jour</b>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-green" style="float: right;">Réserver</button>
        </div>
      </form>
-->
