<div class="d-flex flex-column">


  <%# BANNER %>
  <div class="banner">
    <div class="container">
      <h1>Trouvez le meilleur des dinos avec Dino BnB !</h1>
      <p>Il est peut-être à côté de chez vous...</p>
      <%= link_to "Plus de 10 000 dinos à découvrir ici !", dinos_path, class: "btn-green" %>
    </div>
  </div>
  <div class="colorspace w-100 p-4 row m-0">
    <h3 class="bigfont d-flex justify-content-center mb-4">UN CHOIX UNIQUE DE DINOS PARTOUT EN FRANCE</h3>
    <div class="col-4">
      <div class="icons d-flex align-items-center justify-content-left text-white">
        <i class="fas fa-skull-crossbones p-2 ms-2"></i>

      </div>
      <h4 class="text-justify mt-5">Des dinos mal-élevés</h4>
      <div class="text-justify mt-2">Pour divertir vos soirées en toute insécurité et dans la peur la plus paralisante.</div>
    </div>

    <div class="col-4">
      <div class="icons d-flex align-items-center justify-content-left text-white">
        <i class="fas fa-euro-sign p-2 ms-2"></i>

      </div>
      <h4 class="text-justify mt-5">Un système de paiement facilité.</h4>
      <div class="text-justify mt-2">Grâce à une monnaie en jetons par un casheless à charger sur notre borne libre-service.</div>
    </div>

    <div class="col-4">
      <div class="icons d-flex align-items-center justify-content-left text-white">
        <i class="fas fa-wheelchair p-2 ms-2"></i>
      </div>
      <h4 class="text-justify mt-5">Un SAV de grande qualité.</h4>
      <div class="text-justify mt-2">Disponible 1h/24h tous les 30 Février de l'année. </div>
    </div>
  </div>

  <%#  CARDS UNDER BANNER  %>
  <div class="container-homepage-card">
    <div class="title-homepage-card">
      <p> - Les dinos les plus demandés - </p>
    </div>
      <div class="row g-5">
        <% @dinos.first(4).each do |dino| %>
          <div class="col">
            <%= link_to dino_path(dino), class: "text-decoration-none" do %>
              <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <%= dino.name %>
                </div>

                <% if dino.photo.attached? %>
                  <div class="card-image-dino" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path dino.photo.key, height: 300, crop: :fill %>')">
                  </div>
                <% else %>
                  <p>Pas d'image.</p>
                <% end %>

                <div class="card-body d-flex flex-column justify-content-between">

                  <div class="d-flex flex-column justify-content-between">
                      <div class="bar">
                        <h5><%= dino.specie %></h5>
                        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-owner avatar-bordered" />
                      </div>
                      <p class="fst-italic"> <%= dino.place %></p>
                  </div>

                  <div class="description d-flex justify-content-between">
                    <h6><%= dino.characteristic %></h6>
                    <h2 class="card-pricing d-flex align-items-center"><%= dino.price%>€</h2>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="btn-homepage">
      <%= link_to "Voir plus de dinos", dinos_path, class: "btn-green" %>
    </div>
  </div>


<div class="container-homepage-card">
  <div class="title-homepage-card">
    <p>- Les derniers dinos ajoutés -</p>
  </div>
    <div class="row g-5">
      <% @dinos.last(8).each do |dino| %>
        <div class="col  position-card-dino">
          <%= link_to dino_path(dino), class: "text-decoration-none" do %>
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                <%= dino.name %>
              </div>

              <% if dino.photo.attached? %>
                <div class="card-image-dino" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path dino.photo.key, height: 300, crop: :fill %>')">
                </div>
              <% else %>
                <p>Pas d'image.</p>
              <% end %>


                <div class="card-body d-flex flex-column justify-content-between">

                  <div class="d-flex flex-column justify-content-between">
                      <div class="bar">
                        <h5><%= dino.specie %></h5>
                        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-owner avatar-bordered" />
                      </div>
                      <p class="fst-italic"> <%= dino.place %></p>
                  </div>

                  <div class="description d-flex justify-content-between">
                    <h6><%= dino.characteristic %></h6>
                    <h2 class="card-pricing d-flex align-items-center"><%= dino.price%>€</h2>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%# <div class="btn-homepage">
      <%= link_to "Voir plus de dinos", dinos_path, class: "btn-green" %>
    <%# </div>
  </div> %>


</div>
