<div class="index-container">
  <div class="title-my-dinos">
    <h2>- All my dinos -</h2>
  </div>
  <div class="row">

    <div class="col">
      <% @my_dinos.each do |my_dino| %>
        <div class="col position-card-dino">
            <div class="card my-dinos-cards" style="width: 75%;">
              <div class="card-header">
                <%= my_dino.name %>
              </div>

                <% if my_dino.photo.attached? %>
                  <div class="w-50 bg-center bg-cove" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path my_dino.photo.key, height: 300, crop: :fill %>')">
                <% else %>
                  <p>Pas d'image.</p>
                <% end %>
                  </div>

                <div class="w-50 p-5">
                  <h5> Espèce </h5>
                  <p><%= my_dino.specie %></p>
                  <br>
                  <h5> Localisation </h5>
                  <p><%= my_dino.place %></p>
                  <br>
                  <h5> Cacactéristiques </h5>
                  <p><%= my_dino.characteristic %></p>
                  <br>
                  <h5><strong>Description </strong></h5>
                  <p><%= my_dino.description %></p>
                </div>

                  <li class="list-group-item">
                    <%= link_to "Supprimer ce dino", owner_dino_path(my_dino), method: :delete, data: { confirm: "Are you sure?" } %>
                  </li>

                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
