
<h1 class="text-white m-2 p-2 text-center">Créer votre dino et proposer le à la location si vous osez</h1>
<%# <p>Find me in app/views/owner/dinos/new.html.erb</p> %>

<div class="mx-auto" style="width: 600px">
  <div class="opacite mx-auto p-5 mb-4 bg-white rounded">
      <h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;"> Créer un dinosaure <% @dino.name %></h1>
      <div class="form-resa">
  <%= simple_form_for [:owner, @dino]  do |f| %>
    <%= f.input :name, as: :string, html5: true %>
    <%= f.input :specie, as: :string, html5: true %>
    <%= f.input :characteristic, as: :string, html5: true %>
    <%= f.input :price, as: :integer, html5: true %>
    <%= f.input :description, as: :string, html5: true %>
    <%= f.input :place, as: :string, html5: true %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Créer un dino", class: "btn btn-primary" %>
  <% end %>
      </div>
  </div>
</div>
